*{
    margin: 0;
    padding: 0;
}


.Game{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../IMG/Background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hide{
    display: none;
}


.lines{
    width: 10px;
    height: 100px;
    background: white;
    margin-left: 195px;
    /* border-radius: 5px; */
    position: absolute;
}
.car,.enemy{
    width: 54px;
    height: 108px;
    position: absolute;
    /* left: 120px; */
    bottom: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../IMG/car.png');

}

.gameArea{
    width: 400px;
    height: 100vh;
    background: #102846;
    margin:auto;
    position: relative;
    overflow: hidden;
    border-right: 5px dashed #c8d6e5;
    border-left: 5px dashed #c8d6e5;
}

.score{
position: absolute;
top: 50px;
left: 40px;
background: #10ac84;   
line-height: 70px;
width: 300px;
/* height: 60px; */
color:white;
text-align: center;
font-size: 1.5rem;
font-family: fantasy;
box-shadow: 0 5px 5px #777;
}

.start_sence{
    position: absolute;
    background-color: #ee5253;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid #ff6b6b;
    padding: 15px;
    margin: auto;
    width: 50%;
    cursor: pointer;
    font-family: cursive;
    letter-spacing: 5;
    font-size: 20px;
    word-spacing: 3;
    line-height: 30px;
    text-transform: uppercase;
    box-shadow: 0 5px 5px #777;
}